body {
  padding-left: 1dvh;
  padding-right: 1dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding-left: 10vmin;
  padding-right: 10vmin;
}

details[role=list] summary+ul,
li[role=list]>ul {
  left: auto;
}

.two-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.main-content {
  padding-left: 5vmin;
  padding-right: 5vmin;
}