@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?whmdnt');
  src: url('fonts/icomoon.eot?whmdnt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?whmdnt') format('truetype'),
    url('fonts/icomoon.woff?whmdnt') format('woff'),
    url('fonts/icomoon.svg?whmdnt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-server-database .path1:before {
  content: "\e901";
  color: var(--primary);
  opacity: 0.5;
}

.icon-server-database .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: var(--primary);
}

.icon-television .path1:before {
  content: "\e902";
  color: var(--primary);
  opacity: 0.5;
}

.icon-television .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: var(--primary);
}

.icon-usb-storage .path1:before {
  content: "\e904";
  color: var(--primary);
  opacity: 0.5;
}

.icon-usb-storage .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: var(--primary);
}

.icon-laptop-cooler .path1:before {
  content: "\e906";
  color: var(--primary);
}

.icon-laptop-cooler .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-pc-computer-display .path1:before {
  content: "\e908";
  color: var(--primary);
  opacity: 0.5;
}

.icon-pc-computer-display .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: var(--primary);
}

.icon-headphone .path1:before {
  content: "\e90a";
  color: var(--primary);
  opacity: 0.5;
}

.icon-headphone .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: var(--primary);
}

.icon-signal .path1:before {
  content: "\e90c";
  color: var(--primary);
  opacity: 0.5;
}

.icon-signal .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: var(--primary);
}

.icon-hardware-vga .path1:before {
  content: "\e90e";
  color: var(--primary);
  opacity: 0.5;
}

.icon-hardware-vga .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: var(--primary);
}

.icon-dekstop-pc .path1:before {
  content: "\e910";
  color: var(--primary);
  opacity: 0.5;
}

.icon-dekstop-pc .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: var(--primary);
}

.icon-sim-card .path1:before {
  content: "\e912";
  color: var(--primary);
  opacity: 0.5;
}

.icon-sim-card .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: var(--primary);
}

.icon-microphone .path1:before {
  content: "\e914";
  color: var(--primary);
  opacity: 0.5;
}

.icon-microphone .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: var(--primary);
}

.icon-hardware-sound .path1:before {
  content: "\e916";
  color: var(--primary);
  opacity: 0.5;
}

.icon-hardware-sound .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: var(--primary);
}

.icon-button-power .path1:before {
  content: "\e918";
  color: var(--primary);
  opacity: 0.5;
}

.icon-button-power .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: var(--primary);
}

.icon-phone-sd .path1:before {
  content: "\e91a";
  color: var(--primary);
  opacity: 0.5;
}

.icon-phone-sd .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: var(--primary);
}

.icon-speaker .path1:before {
  content: "\e91c";
  color: var(--primary);
  opacity: 0.5;
}

.icon-speaker .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: var(--primary);
}

.icon-fan .path1:before {
  content: "\e91e";
  color: var(--primary);
}

.icon-fan .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-diskette .path1:before {
  content: "\e920";
  color: var(--primary);
  opacity: 0.5;
}

.icon-diskette .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: var(--primary);
}

.icon-gamepad .path1:before {
  content: "\e922";
  color: var(--primary);
}

.icon-gamepad .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-hardware-cpu .path1:before {
  content: "\e924";
  color: var(--primary);
}

.icon-hardware-cpu .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-card-vga .path1:before {
  content: "\e926";
  color: var(--primary);
  opacity: 0.5;
}

.icon-card-vga .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: var(--primary);
}

.icon-cooler .path1:before {
  content: "\e928";
  color: var(--primary);
  opacity: 0.5;
}

.icon-cooler .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: var(--primary);
}

.icon-screen-square .path1:before {
  content: "\e92a";
  color: var(--primary);
}

.icon-screen-square .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-projector .path1:before {
  content: "\e92c";
  color: var(--primary);
}

.icon-projector .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-processor-cooler .path1:before {
  content: "\e92e";
  color: var(--primary);
  opacity: 0.5;
}

.icon-processor-cooler .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: var(--primary);
}

.icon-player-video .path1:before {
  content: "\e930";
  color: var(--primary);
  opacity: 0.5;
}

.icon-player-video .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: var(--primary);
}

.icon-processor .path1:before {
  content: "\e932";
  color: var(--primary);
}

.icon-processor .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-sim-chip .path1:before {
  content: "\e934";
  color: var(--primary);
}

.icon-sim-chip .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-printer .path1:before {
  content: "\e936";
  color: var(--primary);
}

.icon-printer .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-monitor-lcd .path1:before {
  content: "\e938";
  color: var(--primary);
  opacity: 0.5;
}

.icon-monitor-lcd .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: var(--primary);
}

.icon-dj-table .path1:before {
  content: "\e93a";
  color: var(--primary);
  opacity: 0.5;
}

.icon-dj-table .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: var(--primary);
}

.icon-dj-table .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: var(--primary);
}

.icon-dj-table .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: var(--primary);
}

.icon-music-megaphone .path1:before {
  content: "\e93e";
  color: var(--primary);
  opacity: 0.5;
}

.icon-music-megaphone .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: var(--primary);
}

.icon-suitcase .path1:before {
  content: "\e940";
  color: var(--primary);
  opacity: 0.5;
}

.icon-suitcase .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: var(--primary);
}

.icon-usb-disk-flash .path1:before {
  content: "\e942";
  color: var(--primary);
  opacity: 0.5;
}

.icon-usb-disk-flash .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: var(--primary);
}

.icon-antenna-radio .path1:before {
  content: "\e944";
  color: var(--primary);
}

.icon-antenna-radio .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-ram .path1:before {
  content: "\e946";
  color: var(--primary);
  opacity: 0.5;
}

.icon-ram .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: var(--primary);
}

.icon-battery .path1:before {
  content: "\e948";
  color: var(--primary);
}

.icon-battery .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: var(--primary);
}

.icon-battery .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-battery .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: var(--primary);
}

.icon-battery .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-fax-print .path1:before {
  content: "\e94d";
  color: var(--primary);
  opacity: 0.5;
}

.icon-fax-print .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: var(--primary);
}

.icon-protector-chip .path1:before {
  content: "\e94f";
  color: var(--primary);
}

.icon-protector-chip .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: var(--primary);
  opacity: 0.5;
}

.icon-mouse .path1:before {
  content: "\e951";
  color: var(--primary);
  opacity: 0.5;
}

.icon-mouse .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: var(--primary);
}

.icon-gpu .path1:before {
  content: "\e953";
  color: var(--primary);
  opacity: 0.5;
}

.icon-gpu .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: var(--primary);
}