@import url('https://fonts.googleapis.com/css?family=Roboto Mono:700|Roboto:400');

:root {
  --spacing: 1vmin;
  --spacing-2: 2vmin;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #07012D;
    --background: #F6F5FF;
    --primary: #CAE916;
    --secondary: #D4CDFE;
    --accent: #6E6685;
  }

  .color-primary {
    color: var(--text);
    background-color: var(--primary);
  }

  .color-secondary {
    color: var(--text);
    background-color: var(--secondary);
  }

  .color-contrast {
    color: var(--background);
    background-color: var(--text);
  }

  .color-accent {
    color: var(--background);
    background-color: var(--accent);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #D8D2FE;
    --background: #01000A;
    --primary: #CAE916;
    --secondary: #080132;
    --accent: #827A99;
  }

  .color-primary {
    color: var(--background);
    background-color: var(--primary);
  }

  .color-secondary {
    color: var(--text);
    background-color: var(--secondary);
  }

  .color-contrast {
    color: var(--background);
    background-color: var(--text);
  }

  .color-accent {
    color: var(--background);
    background-color: var(--accent);
  }
}


.svg-background {
  fill: var(--background)
}

.svg-conent {
  fill: var(--text)
}

html * {
  border-width: thin;
  margin: 0px;
}

html {
  scrollbar-width: thin;
  color: var(--text);
  background-color: var(--background);
  font-size: 100%;
}

body {
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing);
  font-family: 'Roboto';
  font-weight: 400;
}

body>* {
  padding: var(--spacing);
}

body>nav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

body>main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  align-items: center;
}

body>footer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

main>* {
  flex-grow: 1;
  border-radius: 2vmin;
}

article {
  padding: var(--spacing-2);
  margin: var(--spacing);
  background-color: var(--secondary);
}

table {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0px;
}

details>* {
  min-width: 100px;
  padding: var(--spacing);
}

details>ul {
  position: fixed;
  border-top-style: none;
  background-color: var(--background);
}

button {
  padding: var(--spacing);
  color: var(--text);
  background-color: var(--secondary);
}

input {
  margin: var(--spacing);
  color: var(--text);
}

dialog {
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: inherit;
  min-width: 100%;
  height: inherit;
  min-height: 100%;
  padding: 0;
  border: 0;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  background-color: #01000a00;
  color: var(--text);
}

dialog article {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--spacing);
  padding: var(--spacing);
  max-height: calc(100vh - var(--spacing) * 2);
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--spacing);
  font-family: 'Roboto Mono';
  font-weight: 600;
}

a {
  font-weight: 600;
  color: var(--accent);
}

p {
  margin-bottom: var(--spacing);
}

h1 {
  font-size: 4.210rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.750rem;
}

::-webkit-scrollbar {
  padding: var(--spacing);
  width: var(--spacing);
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--accent);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 50px;
  background: var(--primary);
}